* {
    margin: 0;
    padding: 0;
    list-style: none;
}


/*设置全局滚动条的样式*/

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {}

::-webkit-scrollbar-thumb {
    background-color: #dddee1;
    border-radius: 2px;
}

::-webkit-scrollbar-button {}

::-webkit-scrollbar-corner {}